

    

.бебра1{
    display: inline-block;
    background-color: rgb(254, 156, 9);
    width: 400px;
    height: 400px;
    margin-top: 100px;
    border: 5px solid rgb(50, 226, 68);
}
.бебра3{
    display: inline-block;
    background-color: blanchedalmond;
    width: 400px;
    height: 400px;
    margin-top: 100px;
    border: 5px solid rgb(89, 131, 93);
}
.бебра2{
    display: inline-block;
    background-color: rgb(4, 255, 159);
    width: 400px;
    height: 400px;
    margin-top: 100px;
    border: 5px solid rgb(141, 24, 224);
}